{% extends "ServerGroveTranslationEditorBundle::layout.html.twig" %}

{% block body %}
<table class="zebra-striped">
    <thead>
    <tr>
        <th></th>
        <th>Key</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<!-- Example row of columns -->
<script type="text/javascript">
//    var view = new translator.module('Bundle').View({{bundles | raw}});
var Bundle = translator.module('Bundle');
var app = new Bundle.View({{bundles | raw}});
</script>
<footer>
  <p>&copy; ServerGrove 2012</p>
</footer>
</div>

<script type="text/html" id="bundle_header">
    <tr><td colspan="3">{{"{{name}}"}}</td></tr>
</script>
<script type="text/html" id="domain_header">
    <tr><td></td><td>{{"{{name}}"}}</td></tr>
</script>

{% endblock %}