{% extends "ServerGroveTranslationEditorBundle::layout.html.twig" %}

{% block body %}
<table class="zebra-striped">
    <thead>
    <tr>
        <th></th>
        <th>Key</th>
        {% for locale in locales %}
        <th>{{locale}}
            {% if locale == default %}<span class="label">Default</span>{%endif%}
        </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% for translation in translations %}
            <tr><td colspan="{{ locales | length + 2}}">{{translation.bundle}}</td></tr>
            {% for domain in translation[translation.bundle] %}
            <tr><td></td><td colspan="{{ locales | length + 1}}">{{domain.name}}</td></tr>
                {% for string in domain.locales[default].entries %}
                <tr><td>{% debug string %}</td></tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
<!-- Example row of columns -->

<footer>
  <p>&copy; ServerGrove 2012</p>
</footer>
</div>

{% endblock %}